# ignore folders with dynamic content #
# /index.php
/apk
CACHE_PATH
casper/*.png
launchers/aitype/
user_data
bower_components
node_modules
application/libraries/stats/update/bash/gsutil
application/libraries/stats/update/bash/gsutil_lib
gcm_logs
assets/ThemeTester.apk
public
/autoplay_result
bower_components
node_modules
gearman-monitor
assets/fonts/
/cache/
/tmec/
/download/*
!/download/libraries
!/download/buildall.sh
/assets/store_theme_photos/
/reports/
/application/logs/
/application/cache/
/themes
/tools/
/tmp/
/logs
/certs/
/vendor
/push_reply
/application/config/production/database.php
/launchers/*/project_template*
/launchers/alpha
/launchers/beta
/shortdemo
migration_status.json
*#
# wherever they are, ignore them #
*.log
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
# *.htaccess
.*
!.gitignore
!.htaccess
!.project
!.settings
!launchers/*/PSD_Files.zip
!.classpath
*.sublime-project
*.sublime-workspace
.project
*~
resources
/nbproject
config.yml
composer.lock
composer.phar
launcher_templates
application/nodejs/node_modules
local.properties
launchers/tme-template*
/assets/img/themetester.png
