body > header{
    background-color: #122a3b;
    clear: both;
    overflow: hidden;
    height: 75px;
}
body > header a.logout img{
    width: 20px;
    margin-right: 60px;
    margin-top: 25px;
}
body > header .main-menu li{
    float: left;
}
body > header .main-menu li a{
    line-height: 72px;
    border-bottom: 3px solid transparent;
    padding: 0 20px;
    color: #fff;
    display: block;
}
body > header .main-menu li a:hover{
    color: #fff;
    text-decoration: none;
}
body > header .main-menu li a:active{
    color: #fff;
    text-decoration: none;
}
body > header .main-menu li a:link{
    color: #fff;
    text-decoration: none;
}
body > header .main-menu li.active a{
    border-color: #fff;
}

.trasee-tabs{
    margin-top: 50px;
}

span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}
.tt-menu.tt-open{
    width: 100%;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
}
.tt-menu.tt-open .tt-suggestion img{
    margin-right: 20px;
}
.tt-menu.tt-open .tt-suggestion{
    line-height: 30px;
    border-bottom: 1px solid #dadada;
    padding: 5px 0;
}

#courses { position: relative; height: 40px; }

#courses .profile-center-image{
    border: 3px solid #fff;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.30);
    width: 60px;
    height: 60px;
    z-index: 1100;
    position: absolute;
    right: 0;
    top: -30px;
    border-radius: 50%;
    background: #122a3b;
    overflow: hidden;
    z-index: 1101;
}

#courses .profile-center-image img { max-width: 20px; max-height: 20px; margin:auto; left:0; right: 0; top:0; bottom: 0; position: absolute; }

#courses .profile-center-image input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
    height: 200px;
    z-index: 99;
}


#loading-overlay { position: fixed; top:0; left: 0; right: 0; bottom: 0; background: rgba(255,255,255,0.8); z-index: 999999; font-size: 35px; display:none; }

#loading-overlay .container { 
    width:100%; height: 90px; line-height: 50px; padding: 20px 0px; background: #FFF; text-align: center; margin: auto; 
    position: absolute; top:0; left:0; bottom:0; right: 0; 
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}