.user-header+#content{
    padding-top: 215px;
}
.change-password-wrapper h3{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 95px;
}
.form-container input+img{
    max-height: 10px;
}

.change-password{
    text-align: center;
}